body {
    font-family: consolas;
    font-style: normal;
    font-weight: normal;
    padding: 0 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

.logo {
    float:left;
    margin-top: 12px;
}
li {
    float: right;
}

li a {
    display: block;
    padding: 16px 16px;
    text-decoration: underline;
    text-align: center;
}

.color {
    color: #ff0099;
}

h1 {
    font-size: 60px;
    margin-top: 100px;
    font-family: courier;
}

.full {
    padding-right: 10%;
    padding-left: 10%;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: courier;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    margin-bottom:25px;
    font-weight: 700;
}

p {
    font-size: 20px;
}

.smallsize p {
    font-size: 16px;
}

h4{
    text-align: center;
    margin-top: 85px;
    margin-bottom: 45px;
    
}